#include <winver.h>
#include <ntdef.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION             1,2,0,0
PRODUCTVERSION        	1,2,0,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               0x0L
FILEOS                  VOS__WINDOWS32
FILETYPE                VFT_DLL
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "Modified DGDecode."
        VALUE "FileDescription",  "D2VSource for AviSynth 2.6 / AviSynth+"
        VALUE "FileVersion",      "1.2.0"
        VALUE "InternalName",     "D2VSource"
        VALUE "OriginalFilename", "D2VSource.dll"
        VALUE "ProductName",      "D2VSource"
        VALUE "ProductVersion",   "1.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
